/*body*/
.body {
    background-color: black;
    color: white;
    text-align: justify;
}

/*div yobanyvicentes*/
#yobanyvicentes {
    margin-top: 100px;
}

.picture-50-50 {
    height: 200px;
    width: 240px;
}

.abs-center {
    text-align: center;
}

#cvs {
    display: flex;
    flex-wrap: wrap;
}

/*cv*/

.cv-div {
    margin-bottom: 0px;
}

.cv-card {
    background-color: whitesmoke;
    margin: 10px;
    text-align: center;
    color: black;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}


/*portafolio*/
.gif {
    width: 100%;
}


/*footer*/
.footer {
    background-color: rgb(51, 51, 51);
    text-align: center;
    color: white;
    padding: 100px  ;
}

footer div p {
    margin-bottom: 0rem;
}
