/*body*/
.body {
    background-color: black;
    color: white;
    text-align: justify;
}

.div-reference {
    text-align: center;
    padding: 30px;
}

.div-reference img {
    width: 80%;
    height: 10px;
}

.subtitle {
    text-align: center;
}


/*div yobanyvicentes*/
#yobanyvicentes {
    margin-top: 100px;
}

.picture-50-50 {
    height: 200px;
    width: 240px;
}

.abs-center {
    text-align: center;
}

#cvs {
    display: flex;
    flex-wrap: wrap;
}

.skills {
    width: 100%;
    text-align: center;
    display: inline-flexbox;
}

.skills p{
    width: 100%;
    text-align: center;
    display: inline-flexbox;
}

/*skills and tools*/

.tool {
    text-align: center;
}

.icon {
    width: 40px;
    height: 40px;
}

.b-white {
    background-color: white;
}

.tool p {
    margin-bottom: 0rem;
    margin-top: 1rem;
}

/*cv*/

.cv-div {
    margin-bottom: 0px;
}

.cv-card {
    background-color: whitesmoke;
    margin: 10px;
    text-align: center;
    color: black;
    border-radius: 1rem;
    padding: 0.5rem 0rem;
}


/*portafolio*/
.gif {
    width: 100%;
}


/*footer*/
.footer {
    background-color: rgb(51, 51, 51);
    text-align: center;
    color: white;
    padding: 50px  ;
}

footer div p {
    margin-bottom: 0rem;
}

.nav-footer{
    list-style: none;
    display: inline-flex;
    gap: 100rm;
}

.nav-footer li{
    padding: 10px;
}

.nav-footer li a{
    color: white;
}

